/*

/*
h2
    {
    font-size: : 90px;  
    font width: 50px;
    background-color:red;   
    color: yellow;
    padding: 10px;
    height:100px;
    width: 100px:
   
    
  
    }

  img
     {
    height: 300px;
    

     }

     .encabez {
        color: blue;
        font-size: 400px;
        
*/
